<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8' />
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link rel="stylesheet" href="/vendor/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/client/artyom.js/build/artyom.window.min.js" charset="utf-8"></script>
  </head>
  <body>
    <%- include('partials/button') %>

    <script src="/vendor/jquery/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/vendor/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/javascripts/init.js" charset="utf-8"></script>
    <script src="/javascripts/voice-control.js" charset="utf-8"></script>
    <script src="/javascripts/voice-commands.js" charset="utf-8"></script>

  </body>
</html>
