doctype html
html(lang="es")
  head
    title= index
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="/client/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href="/client/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/client/artyom.js/src/artyom.js")
  body
    block content
    script(src="/client/jquery/dist/jquery.min.js")
    script(src="/client/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/init.js")
    script(src="/javascripts/voice-commands.js")
    script(src="/javascripts/voice-control.js")
